@import "../abstract/variables";
@import "../abstract/mixin";

.retratos {
    @include retratos;
}
.encabezado-card{
    h1 {
        font-family: $font-family;
        font-size: $font-size-l;
        font-weight: 600; }
}
.card {
    @include card;
    .encabezado-card {
        @include encabezado-card;
    }
} 

.container {
    display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.content {
    @include content-card;
} 
.nombre {
    @include nombre;
}


.fa-user {
    color: $font-color-3;}

.freelancer {
    color: $font-color-3;  
    font-size: $font-size-m;
    }

.botones {
    @include buton;
}