.contenido{
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: calc(100vh - 75px - 50px);
    justify-content: center;
    overflow-y: auto;
    width: 100vw;
}
.titulo{
    margin: 0;
    padding: 0;
}
.titulo-parrafo{
    text-align: center;
}
.texto-parrafo {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    max-width: 600px;
    text-align: center;
}
.button{
    background-color: violet;
    height: 30px;
    width: 100px;
}